.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
      }
  
  .example-sidenav {
    

    display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  }

  /**
  toolbar
  */

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }